body {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

p {
    color: darkblue;
}

h1, h2, h3, h4, h5, h6 {
    color: darkmagenta;
}

/* header */
header {
    padding: 1em 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-indent: 2%;
    text-decoration: underline;
    text-shadow: 5% yellow;
    text-transform: uppercase;
    display: inline;
    text-align: center;
    list-style-type: none;
}

  
header a:link {
    color: green; 
    text-decoration: none;
}

header a:visited {
    color: pink;
}

img {
    width: 25%;
}